* {
    box-sizing: border-box
}

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.regbutton {
    background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.regbutton:hover {
    opacity:1;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

.input-field:focus {
    border: 2px solid dodgerblue;
}

.icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
  }

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }